 /* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #036;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 7px;
  text-align: center;
  outline: none;
  font-size: 18px;
  height:30px;
  width:500px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #00e;
}

#feedback {
	width: 500px;
}

/* Style the collapsible content. Note: hidden by default */
.content {
   display: none;   
   background-color: #f1f1f1;
} 

.coll-row {
   height : 650px;
}
