/* ./app/styles/app.css
* Basic css file to power bot-app.hbs template on index.html
* Authors: Kristen Wright
*/
.chat_box {
  position: relative;
  /*width: 100%310px*/
  height: auto;
  /* WARNING! Old browsers (IE) do not support rgba colloring.  */
  background-color: rgba(255, 255, 255, 0.9);
  background: url('https://ur.columbusstate.edu/logos/logo_files/2015/CSU_Logo_Tower.png');
  border-style:solid;
  border-width:4px;
  border-color: rgba(0, 80, 140, 1.0);
  margin: none;
  
  object-fit: fill;
  //padding:2px;
}
.log {
  height:450px;
  overflow-y: scroll;
  padding: 2px;
  padding-right: 10px;
  background: rgba(255,255,255, 0.3);
}
.questionform {
  height: 30px;
  background-color: rgba(255,255,255, 0.6);
  padding: 4px;
  padding-bottom: 10px;
}
.message {
  width: 85%;
  float: right;
  background-color: rgba(230, 240, 255, 0.95);
  border-radius:10px;
  padding: 5px;
  text-align: right;
  padding-right: 10px;
}
.received {
  width: 85%;
  float: left;
  background-color: rgba(150, 200, 255, 0.95);
  border-radius:10px;
  padding:5px;
  text-align: left;
}
* {
  font-family: sans-serif;
  font-weight:lighter;
}

#submit-button {
	width: 20%;
	height : 85%;
	font-size: 12px;
	text-align: center;
	color: white;
	background-color: #036;
	font-weight: heavy;
	border-radius: 4px;
	//display: block;
}

input {
  width: 75%;
  height: 85%;
  margin: none;
  padding: 4px;
  resize: none;
  border: 2px;
  border-radius: 4px;
  opacity: 0.9;
  overflow-wrap: break-word;
  text-align: top;
}
input:focus {
  border: 2px;
  opacity: 1.0;
}
